.authComponent {
  background-color: #212121;
}

.joinNow,
.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  color: #fff;
  padding: 50px;
  padding-top: 20px;
}
.joinNowDetails {
  background-color: #484848;
  border-radius: var(--AppBorderRadius--);
  padding: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 35%;
  margin-top: 15px;
}
.joinNowDetails .joinNowForm,
.signInForm {
  display: flex;
  flex-direction: column;
}
.joinNowDetails .joinNowForm input {
  background: #585858;
  outline: #333 !important;
  padding: 4px 10px;
  border: none;
  color: #ccc;
}

.policy,
.signInLink {
  color: rgb(19, 180, 255);
  cursor: pointer;
}
.joinNowButton {
  padding: 10px 40px;
  border-radius: 40px;
  border: none;
  outline: none !important;
  color: #fff;
  background: var(--mainColor--);
}
.joinNowButton:hover {
  background: rgb(6, 63, 90);
}
.partition {
  display: flex;
  align-items: center;
  margin: 20px;
}
.partition .line {
  background: #ccc;
  width: 100%;
  height: 1px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.googleBtn {
  width: 100%;
  padding: 10px 40px;
  border-radius: 40px;
  border: none;
  outline: none !important;
  color: rgb(19, 180, 255);
  border: 1px solid rgb(19, 180, 255);
  background: transparent;
  margin-bottom: 20px;
}
.googleBtn:hover {
  border: 1px solid var(--mainColor--);
  background: rgba(200, 238, 255, 0.1);
  color: #fff;
}
.authFooter {
  display: flex;
  background-color: #484848;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #ccc;
  font-size: 0.8rem;
}
.signInForm {
  background-color: #424242;
  padding: 30px;
  border-radius: var(--AppBorderRadius--);
  width: 35%;
}
.signInForm input {
  padding: 12px;
  margin-bottom: 15px;
  border: var(--AppDarkBorder--);
  outline: none !important;
  border-radius: var(--AppBorderRadius--);
  background: #585858;
  color: #ccc;
}

.signInForm input::placeholder {
  color: #ccc;
}
