.header {
  border-bottom: 1px solid var(--AppDarkBorder--);
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--AppTransition--);
  background: #424242;
  color: #fff;
}
.headerLight {
  border-bottom: 1px solid #ccc;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--AppTransition--);
  background: #fff;
  color: #424242;
}

.logoAndSearch {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: var(--AppTransition--);
}
.logoAndSearch img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.logoAndSearch input {
  padding: 4px;
  padding-left: 30px;
  padding-right: 50px;
  background: rgb(245, 249, 255);
  border: 1px solid #ccc;
  outline: none !important;
  transition: var(--AppTransition--);
}
.logoAndSearch input:hover {
  padding-left: 50px;
  margin-left: 10px;
}
.searchIcon {
  color: #424242 !important;
}
.headerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  margin-bottom: 0px;
  transition: 0.2s;
}
.collapsableIcon .icon {
  margin: 10px 10px;
}
.icon:hover {
  /* border-bottom: 1px solid #ccc; */
  color: var(--darkMainColor--);
  cursor: pointer;
}
.icon p {
  margin-bottom: 0px !important;
}

.headerIcons .vertical {
  width: 1px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ccc;
}
.toolTip {
  position: relative;
}

/* Tooltip text */
.toolTip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #484848;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  border: 1px solid var(--AppDarkBorder--);
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.8rem;
}
.toolTip .tooltipTextLight {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #484848;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.8rem;
}

/* Show the tooltip text when you mouse over the tooltip container */
.toolTip:hover .tooltipText {
  visibility: visible;
  transition: var(--AppTransition--);
}
.toolTip:hover .tooltipTextLight {
  visibility: visible;
  transition: var(--AppTransition--);
}
