.header {
  border-bottom: 1px solid #ccc;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
.logoAndSearch {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}
.logoAndSearch img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.logoAndSearch input {
  padding: 4px;
  padding-left: 20px;
  padding-right: 10px;
  background: rgb(245, 249, 255);
  border: 1px solid #ccc;
}
.headerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  margin-bottom: 0px;
  transition: 0.5s;
}
.icon:hover {
  border-bottom: 1px solid #212121;
  cursor: pointer;
}
.icon p {
  margin-bottom: 0px !important;
}

.headerIcons .vertical {
  width: 1px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ccc;
}
