.newPost {
  background: #fff;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 50%;
  height: 130px;
  border-radius: 20px;
  border: 0.5px solid #ccc !important;
  display: flex;
  flex-direction: column;
}
.imageInput {
  display: flex;
  margin-bottom: 10px;
}
.imageInput input {
  border-radius: 30px;
  width: 100%;
  padding-left: 20px;
  border: 0.5px solid #ccc !important;
  outline: none;
  transition: 0.5s;
}
.imageInput input:hover {
  background: rgb(241, 241, 241);
}
.postProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.postIcons {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.postIcons p {
  font-size: 0.8rem;
}
.postIcons .photo,
.postIcons .video,
.postIcons .event,
.postIcons .article {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.postIcons .photo:hover,
.postIcons .video:hover,
.postIcons .event:hover,
.postIcons .article:hover {
  background-color: rgb(241, 241, 241);
}
