.newPost {
  background: #fff;
  padding: 20px;
  height: 130px;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid #ccc !important;
  border: 0.5px solid var(--AppDarkBorder--) !important;
  display: flex;
  flex-direction: column;
  background: #424242;
  color: #fff;
  /* color: rgb(18, 145, 204);
  color: rgb(202, 17, 64);
  color: rgb(35, 214, 18);
  color: rgb(226, 230, 22); */
}

.newPostLight {
  background: #fff;
  padding: 20px;
  height: 130px;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid #ccc !important;
  display: flex;
  flex-direction: column;
}
.imageInput {
  display: flex;
  margin-bottom: 10px;
}
.imageInputLight {
  display: flex;
  margin-bottom: 10px;
}
.imageInput input {
  border-radius: 30px;
  width: 100%;
  padding-left: 20px;
  border: 0.5px solid var(--AppDarkBorder--);
  outline: none;
  transition: 0.5s;
  background: #424242;
  color: #fff;
}
.imageInputLight input {
  border-radius: 30px;
  width: 100%;
  padding-left: 20px;
  border: 0.5px solid #ccc !important;
  outline: none;
  transition: 0.5s;
  background: #fff;
  color: #424242;
}

.imageInput input::placeholder {
  color: #fff;
}

.imageInputLight input::placeholder {
  color: #333;
}

.imageInput input:hover {
  background: #323232;
}

.imageInputLight input:hover {
  background: rgb(241, 241, 241);
}
.postProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.postIcons {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.postIcons p {
  font-size: 0.8rem;
}
.postIcons .photo,
.postIcons .video,
.postIcons .event,
.postIcons .article {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.postIcons .photo:hover,
.postIcons .video:hover,
.postIcons .event:hover,
.postIcons .article:hover {
  background-color: rgb(241, 241, 241);
  background-color: #545454 !important;
}

.postIconsLight {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.postIconsLight p {
  font-size: 0.8rem;
}
.postIconsLight .photo,
.postIconsLight .video,
.postIconsLight .event,
.postIconsLight .article {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.postIconsLight .photo:hover,
.postIconsLight .video:hover,
.postIconsLight .event:hover,
.postIconsLight .article:hover {
  background-color: rgb(241, 241, 241);
}
