.sortSec {
  display: flex;
  align-items: center;
  margin: 5px;
  margin-bottom: 0;
  justify-content: space-between;
}

.sortSec .sortingLine {
  height: 1px;
  width: 70%;
  border: 0.025px solid var(--AppDarkBorder--) !important;
}
.sortSec .sortingLineLight {
  height: 1px;
  width: 70%;
  border: 0.025px solid #ccc !important;
}
.sortingText {
  color: #fff !important;
}
.sortingTextLight {
  color: #424242 !important;
}

.postSec {
  display: flex;
  flex-direction: column;
}
.sortingBtn:hover {
  color: var(--darkMainColor--);
  cursor: pointer;
}
/*pagePost*/
.pagePost {
  margin-top: 0px;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid var(--AppDarkBorder--) !important;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #424242;
  color: #fff;
}
.pagePostLight {
  background: #fff;
  margin-top: 0px;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid #ccc !important;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pagePost .postHeader,
.pagePostLight .postHeader {
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.pagePost .postHeader .headerLeft,
.pagePostLight .postHeader .headerLeft {
  display: flex;
}
.pagePost .postHeader .headerLeft .pageLogo,
.pagePostLight .postHeader .headerLeft .pageLogo {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  margin-right: 10px;
}
.pagePost .postHeader .headerRight,
.pagePostLight .postHeader .headerRight {
  margin-top: -20px;
  font-size: 1.6rem;
}
.pagePost .postHeader .headerLeft .pagePostInfo,
.pagePostLight .postHeader .headerLeft .pagePostInfo {
  display: flex;
  margin-top: -5px;
  flex-direction: column;
  font-size: 0.8rem;
}
.pagePost .postBody .postCaption,
.pagePostLight .postBody .postCaption {
  padding: 20px;
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 1px;
}
.pagePost .postBody .postMedia,
.pagePostLight .postBody .postMedia {
  width: 100%;
}
.pagePost .postFooter,
.pagePostLight .postFooter {
  padding: 20px;
}

.pagePost .postFooter .actionsArea small,
.pagePostLight .postFooter .actionsArea small {
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 10px;
}

.pagePost .postFooter .actionsArea small:hover,
.pagePostLight .postFooter .actionsArea small:hover {
  background: #9292923d;
}

.pagePost .postFooter .actionsArea .actionsIcons,
.pagePostLight .postFooter .actionsArea .actionsIcons {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 5px;
}

/*LinkedIn Post*/
.postProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
