.sortSec {
  display: flex;
  align-items: center;
  margin: 5px;
  margin-bottom: 0;
  justify-content: space-between;
}
.sortSec .sortingLine {
  height: 1px;
  width: 80%;
  border: 0.025px solid #ccc !important;
}

.postSec {
  display: flex;
  flex-direction: column;
}
/*pagePost*/
.pagePost {
  background: #fff;
  margin-top: 0px;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid #ccc !important;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pagePost .postHeader {
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.pagePost .postHeader .headerLeft {
  display: flex;
}
.pagePost .postHeader .headerLeft .pageLogo {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  margin-right: 10px;
}
.pagePost .postHeader .headerRight {
  margin-top: -20px;
  font-size: 1.6rem;
}
.pagePost .postHeader .headerLeft .pagePostInfo {
  display: flex;
  margin-top: -5px;
  flex-direction: column;
  font-size: 0.8rem;
}
.pagePost .postBody .postCaption {
  padding: 20px;
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 1px;
}
.pagePost .postBody .postMedia {
  width: 100%;
}
.pagePost .postFooter {
  padding: 20px;
}

.pagePost .postFooter .actionsArea small {
  margin: auto 10px;
  font-size: 0.9rem;
}

.pagePost .postFooter .actionsArea .actionsIcons {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 5px;
}

/*LinkedIn Post*/
.postProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
