.nameTags {
  border: 1px solid var(--AppDarkBorder--);
  padding: 5px 20px;
  font-size: 0.8rem;
  margin-right: 7px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.modalCloseBtn {
  background: #545454;
  border: none;
  outline: none !important;
  border-radius: 10px;
  padding: 4px 6px;
}
.paperLight {
  border-radius: 10px;
  background-color: #fff;
  color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  border: 1px solid #ccc;
}
.nameTagsLight {
  border: 1px solid #ccc;
  padding: 5px 20px;
  font-size: 0.8rem;
  margin-right: 7px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.modalCloseBtnLight {
  background-color: transparent;
  border: none;
  outline: none !important;
  border-radius: 10px;
  padding: 4px 6px;
}

.modalCloseBtn:hover {
  background-color: crimson !important;
}
.modalCloseBtnLight:hover {
  background-color: crimson !important;
}
.modalHashBtn:hover {
  background: rgba(19, 180, 255, 0.1);
  border-radius: 3px;
}
.mediaUpload > input {
  display: none;
}

.mediaUpload > label {
  margin-bottom: 0;
  cursor: pointer;
}

.mediaUpload > label:hover {
  transform: translateY(2px);
  color: var(--darkMainColor--);
}
