.recentSec {
  background: #fff;
  height: auto;
  /* padding: 20px; */
  margin-top: 10px;
  border-radius: var(--AppBorderRadius--);
  font-size: 0.9rem;
  border: 0.5px solid #ccc !important;
  border: 0.5px solid var(--AppDarkBorder--) !important;
  background: #424242;
  color: #fff;
}
.recentSec h6 {
  font-size: 0.8rem;
}
.blueishColor {
  color: var(--darkMainColor--);
}
.recent,
.groups,
.events {
  padding: 20px;
  padding-bottom: 0;
}
.events .event {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.discover:hover {
  background: rgb(241, 241, 241);
  background: #282828;
  color: var(--mainColor--);
  color: var(--darkMainColor--);
}
