.topCourses {
  background: #fff;
  height: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: var(--AppBorderRadius--);
  font-size: 0.9rem;
  border: 0.5px solid #ccc !important;
  border: 0.5px solid var(--AppDarkBorder--) !important;
  background: #424242;
  color: #fff;
}
.topCourse {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.topCourses .coursesBlock {
  display: flex;
  flex-direction: column;
}
.topCourses .coursesBlock small {
  margin-left: 15px;
}
