.userPopover {
  background: #fff;
  /* color: #fff; */
  height: auto;
  width: 100%;
  background: #424242;
  color: #fff;
}
.userPopoverTab {
  width: 85%;
  margin-left: -60px;
  margin-top: 40px;
}
.userPopHeader,
.userPopBodyTop,
.userPopBodyBottom,
.signOutBtn {
  padding: 10px;
  padding-left: 12px;
}
.userPopInfos {
  display: flex;
  margin-bottom: 10px;
}
.userPopInfos .popOverProfile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}
.userPopInfos .userPopInfo p {
  font-size: 0.7rem;
}
.userPopInfos .userPopInfo h6 {
  font-size: 0.9rem;
}
.userPopBodyTop .userAccountPara {
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: 5px;
  color: var(--mainColor--);
  color: #fff;
}
.userPopHeader .viewProfile {
  width: 100%;
  border-radius: 20px;
  color: var(--mainColor--);
  border: 1.5px solid var(--mainColor--);
  border: 1.5px solid #fff;
  color: #fff;
  font-size: 0.8rem;
  background-color: transparent;
}
