.userDetails {
  height: auto;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid var(--AppDarkBorder--) !important;
  background: #424242;
  color: #fff;
}
.userDetailsLight {
  background: #fff;
  height: auto;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid #ccc !important;
}
.cover {
  display: flex;
  width: 100%;
  height: 60px;
  border-top-left-radius: var(--AppBorderRadius--);
  border-top-right-radius: var(--AppBorderRadius--);
}
.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: 1px auto;
  margin-top: -40px;
}

.userInfo {
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;
  padding-top: 10px;
}
.userInfo .userName {
  font-size: 0.9rem;
}
.userInfo .userName:hover {
  font-size: 1rem;
  color: var(--darkMainColor--);
}
.userInfo .userAbout {
  font-size: 0.7rem;
  color: #ccc;
}
.userInfo .userAboutLight {
  font-size: 0.7rem;

  color: rgb(126, 126, 126);
}
.profileAnalytics {
  padding-top: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 0.7rem;
}
.profileAnalytics p {
  margin-top: 1px;
  margin-bottom: 0;
}
.profileAnalytics .profileViews,
.profileAnalytics .postViews {
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.profileAnalytics .profileViewsLight,
.profileAnalytics .postViewsLight {
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.profileAnalytics .profileViews:hover,
.profileAnalytics .postViews:hover {
  background-color: rgb(241, 241, 241);
  background-color: #323232;
}
.profileAnalytics .profileViewsLight:hover,
.profileAnalytics .postViewsLight:hover {
  background-color: rgb(241, 241, 241);
}

.profileAnalytics strong {
  color: var(--darkMainColor--);
  font-weight: 500;
}

.myItemsLight:hover {
  background-color: rgb(241, 241, 241);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.myItems:hover {
  background-color: #323232;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
