.userPopover {
  height: auto;
  width: 100%;
  background: #424242;
  color: #fff;
}
.userPopoverLight {
  background: #fff;
  height: auto;
  width: 100%;
}
.userPopoverTab {
  width: 90%;
  margin-top: 40px;
}
.userPopHeader,
.userPopBodyTop,
.userPopBodyBottom,
.signOutBtn {
  padding: 10px;
  padding-left: 12px;
}
.userPopInfos {
  display: flex;
  margin-bottom: 10px;
}
.userPopInfos .popOverProfile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}
.userPopInfos .userPopInfo p {
  font-size: 0.7rem;
}
.userPopInfos .userPopInfo h6 {
  font-size: 0.9rem;
}
.userPopBodyTop .userAccountPara {
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: 5px;
  color: var(--darkMainColor--);
}
.userPopHeader .viewProfile {
  width: 100%;
  border-radius: 20px;
  color: var(--darkMainColor--) !important;
  border: 2px solid var(--darkMainColor--);
  font-size: 0.8rem;
  background-color: transparent;
  outline: none !important;
}
.userPopHeader .viewProfile:hover {
  background-color: rgba(18, 166, 224, 0.178);
}
.signOutBtn:hover {
  background: crimson;
  text-align: center;
  padding-left: 0px;
  transition: 0.5s;
}
.signOutBtn .signOut {
  cursor: pointer;
}
