.userPage {
  background: #fff;
  height: auto;
  margin-top: 10px;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid #ccc !important;
}
.pageCover {
  display: flex;
  width: 100%;
  height: 40px;
  border-top-left-radius: var(--AppBorderRadius--);
  border-top-right-radius: var(--AppBorderRadius--);
}
.pageProfile {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  display: block;
  margin-left: 20px;
  margin-top: -30px;
}
.pageName {
  font-size: 0.9rem;
  margin: 5px 20px;
}
.pageAnalytics {
  padding: 20px;
  padding-top: 0;
  padding-bottom: 1px;
  font-size: 0.7rem;
}

.pageAnalytics p {
  margin-top: 1px;
  margin-bottom: 0;
}
.pageAnalytics .pageNotification,
.pageAnalytics .pageViews {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

.pageAnalytics .pageNotification:hover,
.pageAnalytics .pageViews:hover {
  background-color: rgb(241, 241, 241);
  padding-left: 10px;
  padding-right: 10px;
}
.pageAnalytics strong {
  color: var(--mainColor--);
  font-weight: 500;
}
