.userDetails {
  background: #fff;
  height: auto;
  border-radius: 20px;
  border: 0.5px solid #ccc !important;
}
.cover {
  display: flex;
  width: 100%;
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: 1px auto;
  margin-top: -40px;
}

.userInfo {
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;
}
.userInfo .userName {
  font-size: 0.9rem;
}
.userInfo .userAbout {
  font-size: 0.7rem;
  color: rgb(126, 126, 126);
}
.profileAnalytics {
  padding-top: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 0.7rem;
}
.profileAnalytics p {
  margin-top: 1px;
  margin-bottom: 0;
}
.profileAnalytics .profileViews,
.profileAnalytics .postViews {
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.profileAnalytics .profileViews:hover,
.profileAnalytics .postViews:hover {
  background-color: rgb(241, 241, 241);
}
.profileAnalytics strong {
  color: var(--mainColor--);
  font-weight: 500;
}
.myItems:hover {
  background-color: rgb(241, 241, 241);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.5s;
  padding-top: 10px;
}
