.viewUserAbout {
  height: auto;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid var(--AppDarkBorder--) !important;
  background: #424242;
  color: #fff;
  padding: 20px 30px;
  margin-top: 10px;
  font-size: 0.9rem;
}
.viewUserAboutLight {
  background: #fff;
  height: auto;
  font-size: 0.9rem;

  padding: 20px 30px;
  margin-top: 10px;
  border-radius: var(--AppBorderRadius--);
  border: 0.5px solid #ccc !important;
}

.viewUserAbout h5,
.viewUserAboutLight h5 {
  font-weight: 400;
  margin-bottom: 20px;
}
