@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: "Poppins", sans-serif;
  transition: var(--AppTransition--);
}
:root {
  --mainColor--: rgb(14, 118, 168);
  --darkMainColor--: rgb(19, 180, 255);
  --AppBorderRadius--: 10px;
  --AppDarkBorder--: rgb(128, 128, 128);
  --AppTransition--: 0.3s;
}
.hr {
  background: var(--AppDarkBorder--);
}

.hrLight {
  background: #ccc;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #212121 0%, #424242 100%);
}

/*toggleBtn*/

.lightTheme,
.darkTheme {
  width: 40px;
  height: 40px;
  /* background: #fff; */
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightTheme::before {
  content: "\f185";
  font-family: fontAwesome;
  font-size: 24px;
}
.darkTheme::after {
  font-size: 24px;
  content: "\f186";
  font-family: fontAwesome;
}
