@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}
:root {
  --mainColor--: rgb(14, 118, 168);
  --AppBorderRadius--: 10px;
  --AppDarkBorder--: rgb(128, 128, 128);
  /* --green-- : rgb(14, 168, 109);
  --yellow-- : rgb(165, 168, 14);
  --red--: rgb(168, 14, 52); */
}
hr {
  background: var(--AppDarkBorder--);
}
